<div id = "firstDiv">


{{title}}<br/>
{{isMarried}}<br/>
{{name}}
{{3434*32443}}
</div>
<div>
<img [src] = "imageSrc"></div>
<div>

    <button (click)="sayHello()"> greet</button>
</div>

<div class = "container">
<div class = "row">
    <div class = "col-sm-6">
        <div class = "form-group">
            <label> enter your name 
            <input class="form-control" [(ngModel)]="userName"></label>
            <p> {{userName}}</p>
        </div>
    </div>
</div>
</div>






